.form-button{
    background: #5252df;
    color:white;
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    width: 6rem;
 }

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h3{
    padding: 10px;
}